//IMPORTS

@import 'variables';
@import 'mixins';

/*BASE STYLES*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  font-family: sans-serif;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
    }

    .wrapper {
      width: 100%;
      margin: 0 auto;
    }

    .wrapper, .row {
        @extend %clearfix;
        }

    [class*='column-'] {
      float: left;
      padding: 1em;
      width: 100%;
      min-height: 1px;
    }

    .swatch {
      height: 100px;
      margin-bottom: 5%;
    }

// Trying to float the label values right...
    // [class*='label-']:after {
    //     float: right;
    //     margin: 0 20%;
    //     color: red;
    // }

    .color-primary {
      .swatch {
        background-color: map-get($color-primary,  color-hex);
      }
      .label-name:after{
        content:  map-get($color-primary,  color-name);
      }
      .label-rgb:after{
        content: map-get($color-primary, color-rgb);
      }
      .label-hsl:after {
        content: map-get($color-primary, color-hsl);
      }
    }

    .color-secondary {
      .swatch {
        background-color: map-get($color-secondary, color-hex);
      }
      .label-name:after {
        content: map-get($color-secondary, color-name);
      }
      .label-rgb:after {
        content: map-get($color-secondary, color-rgb);
      }
      .label-hsl:after {
        content: map-get($color-secondary, color-hsl);
      }
    }

    .color-tertiary {
      .swatch {
        background-color: map-get($color-tertiary, color-hex);
      }
      .label-name:after  {
        content: map-get($color-tertiary, color-name);
      }
      .label-rgb:after {
        content: map-get($color-tertiary, color-rgb);
      }
      .label-hsl:after {
        content: map-get($color-tertiary, color-hsl);
      }
    }

    .color-accent {
      .swatch {
        background-color: map-get($color-accent, color-hex);
      }
      .label-name:after  {
        content: map-get($color-accent, color-name);
      }
      .label-rgb:after {
        content: map-get($color-accent, color-rgb);
      }
      .label-hsl:after {
        content: map-get($color-accent, color-hsl);
      }
    }

/*TINT SECTION*/

.tint-section {
  height: 100px;
}

//First tint
#tint-primary .tint-section1 {
   background-color: map-get($color-primary, light);
}

#tint-primary .tint-section2 {
  background-color: map-get($color-primary, color-hex);
}

#tint-primary .tint-section3 {
  background-color: map-get($color-primary, dark);
}

//Second tint
#tint-secondary .tint-section1 {
  background-color: lighten(map-get($color-secondary, color-hex), 15%);
}

#tint-secondary .tint-section2 {
  background-color: map-get($color-secondary, color-hex);
}

#tint-secondary .tint-section3 {
  background-color: darken(map-get($color-secondary, color-hex), 5%);
}

//Third tint
#tint-tertiary .tint-section1 {
  background-color: lighten(map-get($color-tertiary, color-hex), 10%);
}

#tint-tertiary .tint-section2 {
  background-color: map-get($color-tertiary, color-hex);
}

#tint-tertiary .tint-section3 {
  background-color: darken(map-get($color-tertiary, color-hex), 5%);
}

//Fourth tint
#tint-accent .tint-section1 {
  background-color: lighten(map-get($color-accent, color-hex), 10%);
}

#tint-accent .tint-section2 {
  background-color: map-get($color-accent, color-hex);
}

#tint-accent .tint-section3 {
  background-color: darken(map-get($color-accent, color-hex), 5%);
}


/*GENERATED COLORSS SECTION*/
.mixed {
  height: 50px;
}
//
// .primary-mixed1 {
//   background-color: mix-colors(map-get($color-list, color-primary), (map-get($color-list, color-secondary)), $percentage);
// }

// .primary-mixed1 {
//   background-color: mixColors($color-primary, $color-secondary, 35%);
// }

.primary-mixed1 {
  background-color: mix(map-get($color-list, color-primary), (map-get($color-list, color-primary)), 35%);
}
.percentages-primary:after {
  content: map-get($color-primary, color-name);
}

.primary-mixed2 {
  background-color: mix(map-get($color-list, color-primary), (map-get($color-list, color-secondary)), 35%);
}
.percentages-secondary:after {
  content: map-get($color-secondary, color-name);
}

.primary-mixed3 {
  background-color: mix(map-get($color-list, color-primary), (map-get($color-list, color-tertiary)), 35%);
}
.percentages-tertiary:after {
  content: map-get($color-tertiary, color-name);
}

.primary-mixed4 {
  background-color: mix(map-get($color-list, color-primary), (map-get($color-list, color-accent)), 35%);
}
.percentages-accent:after {
  content: map-get($color-accent, color-name);
}

/*GENERATED COLORSS SECTION secondary*/


.secondary-mixed1 {
  background-color: mix(map-get($color-list, color-secondary), (map-get($color-list, color-primary)), 35%);
}
.percentages-primary:after {
  content: map-get($color-primary, color-name);
}

.secondary-mixed2 {
  background-color: mix(map-get($color-list, color-secondary), (map-get($color-list, color-secondary)), 35%);
}
.percentages-secondary:after {
  content: map-get($color-secondary, color-name);
}

.secondary-mixed3 {
  background-color: mix(map-get($color-list, color-secondary), (map-get($color-list, color-tertiary)), 35%);
}
.percentages-tertiary:after {
  content: map-get($color-tertiary, color-name);
}

.secondary-mixed4 {
  background-color: mix(map-get($color-list, color-secondary), (map-get($color-list, color-accent)), 35%);
}
.percentages-accent:after {
  content: map-get($color-accent, color-name);
}

/*GENERATED COLORSS SECTION tertiary*/


.tertiary-mixed1 {
  background-color: mix(map-get($color-list, color-tertiary), (map-get($color-list, color-primary)), 35%);
}
.percentages-primary:after {
  content: map-get($color-primary, color-name);
}

.tertiary-mixed2 {
  background-color: mix(map-get($color-list, color-tertiary), (map-get($color-list, color-secondary)), 35%);
}
.percentages-secondary:after {
  content: map-get($color-secondary, color-name);
}

.tertiary-mixed3 {
  background-color: mix(map-get($color-list, color-tertiary), (map-get($color-list, color-tertiary)), 35%);
}
.percentages-tertiary:after {
  content: map-get($color-tertiary, color-name);
}

.tertiary-mixed4 {
  background-color: mix(map-get($color-list, color-tertiary), (map-get($color-list, color-accent)), 35%);
}
.percentages-accent:after {
  content: map-get($color-accent, color-name);
}


/*GENERATED COLORSS SECTION accent*/


.accent-mixed1 {
  background-color: mix(map-get($color-list, color-accent), (map-get($color-list, color-primary)), 35%);
}
.percentages-primary:after {
  content: map-get($color-primary, color-name);
}

.accent-mixed2 {
  background-color: mix(map-get($color-list, color-accent), (map-get($color-list, color-secondary)), 35%);
}
.percentages-secondary:after {
  content: map-get($color-secondary, color-name);
}

.accent-mixed3 {
  background-color: mix(map-get($color-list, color-accent), (map-get($color-list, color-tertiary)), 35%);
}
.percentages-tertiary:after {
  content: map-get($color-tertiary, color-name);
}

.accent-mixed4 {
  background-color: mix(map-get($color-list, color-accent), (map-get($color-list, color-accent)), 35%);
}
.percentages-accent:after {
  content: map-get($color-accent, color-name);
}
    /*Media Queries*/

    @media #{$breakpoint-medium} {
      .wrapper {
        width: 95%;
        max-width: $grid-max-width;
        }

      @for $i from 1 through $grid-columns {
        .column-#{$i} {
          width: 100% / $grid-columns * $i;
        }
      }
    }
